*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth !important;
}
body{
  font-family:'Roboto', sans-serif;
  background:transparent;
}
#header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:fixed;
}
#header-img{
  max-width:15%;
  margin:15px 0 15px 70px;
  cursor:pointer;  
}
#nav-bar{
  margin-top:20px;
}
#nav-bar ul{
  list-style:none;
  display:flex;
}
#nav-bar ul a{
  text-decoration:none;
  margin-right:80px;
  padding:10px;
  color:#fff;
  font-size:1.3rem;
  transition: 0.3s;
}
.slider{
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:-2;
}
.first-section{
  display:flex;
  flex-direction:column;
  height:100vh;
}
.img-opacity{
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  background:rgba(0,0,0,.7);
}
.description{
  margin:300px 0 0 200px;
  display:flex;
  flex-direction:column;
  gap:40px;
}
#title{
  color:#fff;
  font-size:4rem;
}
#title-description{
  color:#fff;
  font-size:2rem;
  font-weight:400;
  line-height:2.6rem;
}
.btn{
  text-decoration:none;
  cursor:pointer;
  padding:1rem;
  text-align:center;
  border:none;
  border-radius:30px;
  font-weight:bold;
}
.btn-offer{
  width:15%;
  background:#fff;
  color:#070e4d;
  font-size:1.6rem;
  transition:0.5s;
}
.generation{
  width:60%;
  margin:100px auto 50px;
  padding: 20px 100px 40px;
  background:rgba(101,102,105, .1);
}
.generation *{
  margin:20px 0;
  text-align:center;
}
.generation p{
  margin:0 auto;  
  margin-bottom:40px;
  width:70%;
  font-size:1.2rem;
}
.generation h2{
  color: #070e4d;
}
.btn-join{
  color:#fff;
  background:#070e4d;
  font-weight:400;
  font-size: 1.3rem;
  margin:34%;
  box-shadow: 1px 1px 5px 1px gray;
  transition:.3s;
}
.second-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.suv{
  display:flex;
  flex-direction:column;
  width:70%;
  height:auto;
  margin:100px auto 50px;
  align-items:center;  
}
.gallery{
  display:flex;
  gap:40px;
  margin-bottom:20px;
  flex-wrap:wrap;
}
.gallery img{
  width:30%;
}
.title-div{
  font-size:2rem;
  padding-top:20px;
  color:#070e4d;
  font-weight:bold;
}
.cars{
  width:70%;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}
.footer{
  width:100%;
  background:#2a2c38;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.form-section{
  width:100%;
}
.form-section h2,p{
  text-align:center;
}
.form-section h2{
  color:#3f55d9;
  font-size:3rem;
  text-align:center;
  padding-top:50px;
}
.form-section p{
  color:#fff;
  font-size:1.4rem;
  text-align:center;
  margin:20px 0 40px;
}
#email{
  height:50px;
  display:inline-block;
  width:30%;  
  font-size:1.3rem;
  padding-left:15px;
  border:none;
  border-radius:10px;  
  margin-left:600px;
  margin-right:15px;
}
#submit{
  background:#1d6bab;
  border:none;
  padding:10px 20px;
  height:50px;
  border-radius:10px;
  font-size:1.3rem;
  color:#fff;
  cursor:pointer;
  transition:.3s;
}
.form-section p:last-child{
  color:rgba(255,255,255, .5);
  font-size:1.2rem;
  text-align:center;
  margin:30px 0 40px;
}
.footer-links ul{
  list-style:none;
  margin-bottom:10px;
}
.footer-links li{
  display:inline; 
}
.footer-links ul li a{
  text-decoration:none;
  color:#fff;
  font-size:1.1rem;
  margin-right:50px;
  transition:.5s;
}
@media screen and (max-width:1704px){
  .btn-join{
    color:#fff;
    background:#070e4d;
    font-weight:400;
    font-size: 1rem;
    margin:35%;
  }
}
#nav-bar ul li a:hover{
  color:#2779f5;
  font-size:1.5rem;
}
.btn-offer:hover{
  color:#fff;
  background:#070e4d;
}
.btn-join:hover{
  padding:20px;
  box-shadow: 4px 4px 5px 1px gray;
  background:#0e0bd4;
}
#submit:hover{
  background:#fff;
  color:#1d6bab;
}
.footer-links ul li a:hover{
color:#2779f5;
}
#header { background-color:rgba(0,0,0,.7) !important; }


#myBtn {
    display: none; /*Hidden by default*/
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }